<div class="my-3 ma-3">
  <h5 [ngClass]="{ strike: !todo.active }">* {{ todo.title }}</h5>
  <p [ngClass]="{ strike: !todo.active }">{{ todo.desc }}</p>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="doneTodo{{ i }}"
      (click)="onMarkDone(todo)"
      [checked]="!todo.active"
    />
    <label class="form-check-label" for="doneTodo{{ i }}">Done</label>
  </div>
  <button class="btn btn-sm btn-danger" (click)="onClickDel(todo)">
    Delete
  </button>
</div>
